<div class="row">
    <ul class="nav nav-pills" style="margin-bottom: 15px;">
        <li ng-class="{'active': location.indexOf('/logs/calls') === 0}"><a ng-href="#/logs/calls">通话</a></li>
        <li ng-class="{'active': location.indexOf('/logs/messages') === 0}"><a href="#/logs/messages">消息</a></li>
        <li ng-class="{'active': location.indexOf('/logs/recordings') === 0}"><a href="#/logs/recordings">录音／录像</a></li>
        <li ng-class="{'active': location.indexOf('/logs/transcriptions') === 0}"><a href="#/logs/transcriptions">转发</a></li>
        <li ng-class="{'active': location.indexOf('/logs/notifications') === 0}"><a href="#/logs/notifications">通知</a></li>
    </ul>
</div>